header{
    background-color: rgb(195, 76, 76);
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2cm;
    text-align: center;
}

body{
    background-color: rgb(255, 165, 0);
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    border: 2cm;
    
}
.hero {
    background: url(images/brian.jpg) no-repeat center center/cover;
    display: flex;
    height: 500px;
    align-items: center;
    color: #1111c6;
    text-shadow: hsl(2px, 2px, 2px);
}
.hero h1 {
    font-size: 3em;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;


}
.hero button {
    align-items: center;
}
.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;

}
.product-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;

}
